<!DOCTYPE html>
<html>
<head>
  <title>EmailVerifier</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body ng-app="myApp">
<nav class="navbar header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed headerToggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="assets/logo.png"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" ng-hide="loggedUser">
        <li><a href="login">Login</a></li>
        <li><a href="register">Create a account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="loggedUser">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a target="_self" href="/users/sign_out">logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar" ng-show="loggedUser">
      <ul class="nav nav-sidebar">
        <li class="active sideTab" id="uploadTab">
          <a href="/dashboard">
            <img src="assets/upload.png">Upload
          </a>
        </li>
        <li class="sideTab" id="verifyTab"><a href="/documents"><img src="assets/verify.png"> Verification</a></li>
        <!-- <li class="sideTab" id="downloadTab"><a href="#"><img src="assets/download.png"> Download</a></li> -->
      </ul>
    </div>

    <%= yield %>
    <% unless current_user.nil? %>
      <%= subscribe_to "/#{current_user._id}" %>
      <input type="hidden" id="currentSession" value="<%=current_user._id%>">
    <% end %>
    </div>
  </div>

</body>
</html>
